WEB_ENABLE_HTTPS=true
WEB_ENABLE_AUTH=true
PROVISIONING_SCRIPT=https://raw.githubusercontent.com/sk-palani/vastai/main/config/provisioning/runpod.sh
SYNCTHING_TRANSPORT_PORT_HOST=72299
WORKSPACE=/workspace
DATA_DIRECTORY=/workspace/
WEB_USER=admin
WEB_PASSWORD="{{ RUNPOD_SECRET_WEB_PASSWORD }}"
JUPYTER_MODE=notebook
PUBLIC_KEY="{{ RUNPOD_SECRET_PUBLIC_KEY }}"
JUPYTER_PASSWORD="{{ RUNPOD_SECRET_JUPYTER_PASSWORD }}"
CIVITAI_TOKEN="{{ RUNPOD_SECRET_CIVITAI_TOKEN }}"
HF_TOKEN="{{ RUNPOD_SECRET_HF_TOKEN }}"
USER=admin
PASSWORD="{{ RUNPOD_SECRET_WEB_PASSWORD }}"
COMFYUI_BRANCH=master
COMFYUI_VENV=/workspace/environments/python/comfyui
COMFYUI_VENV_PYTHON=/workspace/environments/python/comfyui/bin/python
COMFYUI_VENV_PIP=/workspace/environments/python/comfyui/bin/pip